<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
   <header>
            <h1>CodeDojo</h1>
            <span id="status">OFFLINE</span>
             <input type="text" id="name" required autofocus autocomplete="off">
        </header>

        <main>
            <ul id="messages"></ul>

            <form id="form">
                <label for="message">&gt;</label>
                <input type="text" id="input" required autofocus autocomplete="off">
            </form>
        </main>
</body>
</html>
