<div class="message__ico" data-login={{item.login}}>No photo</div>
<div class="message__main">
    <div class="message__container">
        <div class="message__name">{{item.name}}</div>
        <div class="message__date">{{item.date}}</div>
    </div>
    <div class="message__context">{{item.context}}</div> 
</div>

